/* Main styles */

* {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html,body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;

}

p {
    text-align: justify;
    padding: 1em;

    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}


main {
    margin-top: 4em;
    height: 100%;

    /*background-image: url(img/The_cathedral_in_Oviedo.png);
    opacity: 0.5;*/
    
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    align-items: center;
}




/* Element containers */

.container {
    display: flex;
    margin: 2em;
}

.img-cont {
    margin-right: 1.5em;
    height: fit-content;

    border: 1.5px solid darkblue;
    border-radius: 3px;
}

.img-cont img {
    width: 40em;
    height: auto;
}

.txt-cont {
    flex: 1;
}


.container {
    margin-top: 4em;
}




/* Menu-related styles */

.menu {
    background-color: rgb(58, 131, 234);
    background-image: linear-gradient(to right, #008DDA, #003366);

    position: fixed;
    float:inline-start;
    top: 0;
    width: 100%;
    height: 4em;

    box-shadow: 0 2px 4px rgba(0,0,0,0.3);

    font-weight: bold;
}

.footer {
    background-color: rgb(58, 131, 234);
    background-image: linear-gradient(to right, #003366, #008DDA);

    text-align: center;
    height: 3em;
    padding: 0.5em 0;

}

.menu ul, .footer ul {
    list-style-type: none;

    padding: 5px;
    overflow: hidden ;
}

.menu li, .footer li {
    display: inline-block;
    
    padding-inline: 1em;
    list-style-type: none; /*Remove the bullet points*/

    font-family: 'Arial black';
    vertical-align: middle;
}

.menu li a, .footer li a {
    text-decoration: none;
    
    text-align: center;
    display: block;
}

.menu li a:hover, .footer li a:hover {
    color: #aeddf6;
}

.menu img {
    margin: 0;
    object-position: center;
}

.menu .logo {
    flex-shrink: 0; /*Avoids the browser to shrink the logo image*/
}

.menu a, .footer a {
    color: white;
}



/* Headers */

h1 {
    padding: 0.5em;

    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-style: italic;
    font-size: 1.4em;

    color: white;
    background-color: #003366;
}




/* Images handling */

.photos {
    position: relative;
    width: 100%;
    max-width: 2000px;

    overflow: hidden;  /* No scrolling */
    margin: 20px 0;

    justify-content: center;
    align-items: center;

    padding-left: 0.5em;
    padding-right: 0.5em;

}

.photo-carousel {
    position: relative;
    width: 75%;
    height: 35em;

    margin: 0 auto;  /* This fixed the carousel being fixated on the left side */

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    background-image: url(img/oviedoVista.png);
}

.carousel-imgs {
    display: flex;
    transition: transform 0.5s ease-in-out;

    width: 100%;
    height: 100%;
}

.carousel-imgs img { /* Specific rules for the images */
    flex: 0 0 100%;
    width: 100%;
    height: 35em;

    object-fit: cover;
}







#homeBody {
    background-image: url(/img/The_cathedral_in_Oviedo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    float: left;
    padding: 100px;
}



/* Buttons */

.prev-btn {
    position: absolute;
    top: 50%;  /*Place it in the middle*/

    transform: translateY(-50%);

    background-color: rgba(0,0,0,0.3);
    color: white;
    border: none;

    font-size: 2em;
    
    padding: 0.5em 0.7em;
    z-index: 1;

    user-select: none;
    cursor: pointer;

    left: 0.2em;
}

.next-btn {
    position: absolute;
    top: 50%;  /*Place it in the middle*/

    transform: translateY(-50%);

    background-color: rgba(0,0,0,0.3);
    color: white;
    border: none;

    font-size: 2em;
    
    padding: 0.5em 0.7em;
    z-index: 1;

    user-select: none;
    cursor: pointer;

    right: 0.2em;
}





.darkened-image {
    filter: brightness(50%);
    background-image: url(img/The_cathedral_in_Oviedo.png);
    height: 100%;
    width: 100%;
}


.carousel-text {
    position: absolute;
    bottom: 0.5em;
    left: 0.3em;

    color:white;
    font-size: 1em;
    font-weight: bold;

    background-color: rgba(0,0,0,0.3);

    padding: 0.5em 0.7em;
    border-radius: 5px;
}